[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/narya-contracts"]
	path = lib/narya-contracts
	url = https://github.com/NaryaAI/narya-contracts
